<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Session</title>
    <link rel="stylesheet" href="/output.css" /> <!-- Correct path -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
</head>
<body class="m-0 p-0 bg-[#2B2B2B] max-h-screen w-[100%]">
   <!-- //navbar -->
   <nav class="flex justify-between items-center p-4 text-white">
      <a href="%%" class="py-2 px-2">HOME</a>
      <!-- //logo -->
      <img class="h-[80px] w-[160px] mt-1 " src="/images/MetaMinds_ Logo white....png" alt="MetaMinds">
   </nav>

   <div class=" flex justify-between mx-10 my-5 text-2xl ">
      <a class="px-2 py-2 bg-[#EF476F] w-[150px] h-[50px] text-center" href="">RESTART</a>
      <a class="px-2 py-2 bg-[#43AA8B] w-[150px] h-[50px] text-center" href="">STOP</a>
   </div>

   <!-- video set -->
   <video id="bgVideo" class="absolute top-0 left-0 w-full h-full object-cover z-[-2] opacity-90" autoplay muted loop playinline></video>

   <!-- fabric canvas -->
   <canvas id="doodleCanvas" class="absolute mx-0 my-0 w-[100%] h-[50%] z-20 bg-red-400 hidden"></canvas>

   <!-- overlay content  -->
   <div class="text-center space-y-6 z-10 bottom-1 w-[100%] fixed">
      <h1 id="phaseheading" class="text-white text-3xl font-bold">Preparing for Session 1.....</h1>

      <div class="relative w-[90%] mx-auto z-[-1]">
         <div class="text-lg bg-white h-[5px] rounded-sm flex flex-col justify-center ">
            <div id="timerbar" class=" bg-green-500 h-[3.5px] rounded-sm"></div>
         </div>
         <div class="flex justify-between h-[90px] absolute top-1 w-full">
            <span id="timeleft" class="text-2xl text-white px-1 py-1"></span>
            <span id="totaltime" class="text-2xl text-white px-1 py-1"></span>
         </div>
      </div>

      <button id="pausebtn" class="bg-white text-black font-medium px-4 py-2 rounded-full shadow">Resume</button>
   </div>

   <script>
    const Session = <%- JSON.stringify(Session) %>;
   </script>

   <script src="../javascripts/sessionscript.js"></script>

</body>
</html>