<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme</title>
    <link rel="stylesheet" href="/output.css" /> <!-- Correct path -->

</head>
<body class="m-0 p-0 bg-[#2B2B2B]">
    <!-- //navbar -->
     <nav class="flex justify-between items-center p-4 text-white">
        <a href="%%" class="py-2 px-2">HOME</a>
        <!-- //logo -->
        <img class="h-[80px] w-[160px] mt-1 " src="/images/MetaMinds_ Logo white....png" alt="MetaMinds">
     </nav>

     <div class=" flex justify-between mx-10 my-5 text-2xl ">
        <a class="px-2 py-2 bg-[#EF476F] w-[150px] h-[50px] text-center" href="">RESTART</a>
        <a class="px-2 py-2 bg-[#43AA8B] w-[150px] h-[50px] text-center" href="">STOP</a>
     </div>

     


</body>
</html>