<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme</title>
    <link rel="stylesheet" href="/output.css" /> <!-- Correct path -->

</head>
<body class="m-0 p-0 bg-[#2B2B2B]">
   <!-- //navbar -->
   <nav class="flex justify-between items-center p-4 text-white">
      <a href="/index/" class="py-2 px-2">HOME</a>
      <!-- //logo -->
      <img class="h-[80px] w-[160px] mt-1 " src="/images/MetaMinds_ Logo white....png" alt="MetaMinds">
   </nav>

   <form action="/Session/study" method="POST" class="px-4 py-2">

      <h1 class="text-white font-medium text-4xl">CHOOSE DURATION</h1>
      <ul class="bg-[#FFDE70] text-xl font-medium text-black list-none mt-4 px-5 py-5 flex flex-col gap-6">
         <li><input type="radio" name="duration" id="t1" value="30" class="hidden peer">
         <label for="t1" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer"> 30 Minutes</label>
         </li>
         <li><input type="radio" name="duration" id="t2" value="60" class="hidden peer">
         <label for="t2" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">1 hour</label>
         </li>
         <li><input type="radio" name="duration" id="t3" value="90" class="hidden peer">
         <label for="t3" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer"> 1 hour 30 Minutes</label>
         </li>
         <li><input type="radio" name="duration" id="t4" value="120" class="hidden peer">
         <label for="t4" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">2 hours</label>
         </li>
      </ul>

      <h1 class="text-white font-medium text-4xl mt-4">CHOOSE THEME</h1>
      <ul class="bg-[#FFDE70] text-xl font-medium text-black list-none mt-4 px-5 py-5 flex flex-col gap-6">
         <li><input type="radio" name="theme" id="d1" value="Rainfall" class="hidden peer">
         <label for="d1" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">Rainfall</label>
         </li>
         <li><input type="radio" name="theme" id="d2" value="Rainfall" class="hidden peer">
         <label for="d2" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">Rainfall</label>
         </li>
         <li><input type="radio" name="theme" id="d3" value="Rainfall" class="hidden peer">
         <label for="d3" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">Rainfall</label>
         </li>
         <li><input type="radio" name="theme" id="d4" value="Rainfall" class="hidden peer">
         <label for="d4" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">Rainfall</label>
         </li>
      </ul>

      <h1 class="text-white font-medium text-4xl mt-4">CHOOSE BREAK-TYPE</h1>
      <ul class="bg-[#FFDE70] text-xl font-medium text-black list-none mt-4 px-5 py-5 flex flex-col gap-6">
         <li><input type="radio" name="breaktype" id="b1" value="walk" class="hidden peer">
         <label for="b1" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">Walking</label>
         </li>
         <li><input type="radio" name="breaktype" id="b2" value="doodle" class="hidden peer">
         <label for="b2" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">Doodling</label>
         </li>
         <li><input type="radio" name="breaktype" id="b3" value="boxbreath" class="hidden peer">
         <label for="b3" class="peer-checked:bg-black peer-checked:text-white border-[2px] border-black rounded-lg px-3 py-2 cursor-pointer">Box-Breathing</label>
         </li>  
      </ul>

      <input class="px-2 py-2 bg-[#43AA8B] w-[150px] h-[50px] text-center text-2xl mt-5 block" type="submit" value="SUBMIT" />

   </form>



</body>
</html>