<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme</title>
    <link rel="stylesheet" href="/output.css" /> <!-- Correct path -->

</head>
<body class="m-0 p-0 bg-[#2B2B2B]">
    <!-- //navbar -->
     <nav class="flex justify-between items-center p-4 text-white">
        <a href="%%" class="py-2 px-2">HOME</a>
        <!-- //logo -->
        <img class="h-[80px] w-[160px] mt-1 " src="/images/MetaMinds_ Logo white....png" alt="MetaMinds">
     </nav>

     <h1 class="text-white font-medium text-4xl px-4 py-2 ">CHOOSE DURATION</h1>
     <ul class="list-none text-black text-xl font-medium bg-[#FFDE70]">
        <li class="border-[2px] border-black px-3 py-2"><a href="##">30 MINUTES</a></li>
        <li class="border-[2px] border-black px-3 py-2"><a href="##">1 HOUR </a></li>
        <li class="border-[2px] border-black px-3 py-2"><a href="">1 HOUR 30 MINUTES</a></li>
        <li class="border-[2px] border-black px-3 py-2"><a href="">2 HOURS</a></li>
     </ul>

     <h1 class="text-white font-medium text-4xl px-4 py-2 ">CHOOSE THEME</h1>
     <ul class="list-none text-black text-xl font-medium bg-[#FFDE70]">
        <li class="border-[2px] border-black px-3 py-2"><a href="##">Breadth Of The Wild</a></li>
        <li class="border-[2px] border-black px-3 py-2"><a href="##">Breadth Of The Wild</a></li>
        <li class="border-[2px] border-black px-3 py-2"><a href="">Breadth Of The Wild</a></li>
        <li class="border-[2px] border-black px-3 py-2"><a href="">Breadth Of The Wild</a></li>
     </ul>


</body>
</html>